html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* @font-face { */
  /*font-family: 'Quintessential'; /* Choose a name for your font */
  /* src: url('Fonts/Quintessential.ttf') format('truetype'); /*Path to your font file */
/* } */

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #cb416b;
  /* this blue is for the outline of the todo list button when clicked */

}

html {
  position: relative;
  min-height: 100%;
}

@font-face {
    font-family: 'Quintessential'; /* Choose a name for your font*/
    src: url('Fonts/Quintessential-Regular.ttf') format('truetype'); /*Path to your font file*/
  }

body {
  margin-bottom: 60px;
  font-family: 'Quintessential', serif; /* Use your custom font as the primary font */
}

