@{
    ViewData["Title"] = "Fishydoro";
}
<html>
    <head> 
        <title>Fishydoro</title>
    </head>
    <body>
        <header>
            <a href="#" class="ToDoList">
                <img src="#" alt="check" />
            </a>
        </header>
        <hr />
        <hr size="6" />
        <hr noshade />


    </body>
</html>