@{
    ViewData["Title"] = "Fishydoro-TodoList";
}
<html>
    <head>
        <title>Fishydoro-TodoList</title>
    </head>
    <body>
        <h1>TO-DOs</h1>
        <div class="todos">
            <ul class="task-list">
                    
            </ul>
        </div>
    </body>
</html>

